%h1 Listing evento_ponentes

%table
  %thead
    %tr
      %th Tema
      %th Rate
      %th Ponente
      %th Event
      %th
      %th
      %th

  %tbody
    - @evento_ponentes.each do |evento_ponente|
      %tr
        %td= evento_ponente.tema
        %td= evento_ponente.rate
        %td= evento_ponente.ponente_id
        %td= evento_ponente.event_id
        %td= link_to 'Show', evento_ponente
        %td= link_to 'Edit', edit_evento_ponente_path(evento_ponente)
        %td= link_to 'Destroy', evento_ponente, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Evento ponente', new_evento_ponente_path
