%p#notice= notice

%p
  %b Q1:
  = @encuestum.q1
%p
  %b Q2:
  = @encuestum.q2
%p
  %b Q3:
  = @encuestum.q3
%p
  %b Q4:
  = @encuestum.q4
%p
  %b Q5:
  = @encuestum.q5
%p
  %b Q6:
  = @encuestum.q6
%p
  %b Q7:
  = @encuestum.q7
%p
  %b Q8:
  = @encuestum.q8
%p
  %b Q9:
  = @encuestum.q9
%p
  %b Q10:
  = @encuestum.q10
%p
  %b Q11:
  = @encuestum.q11
%p
  %b Q12:
  = @encuestum.q12
%p
  %b Q13:
  = @encuestum.q13
%p
  %b Recomendaciones:
  = @encuestum.recomendaciones
%p
  %b Temas:
  = @encuestum.temas
%p
  %b Comentarios:
  = @encuestum.comentarios

= link_to 'Edit', edit_encuestum_path(@encuestum)
\|
= link_to 'Back', encuesta_path
