.view-main
  = render "layouts/nav"
  .view-show
    .asistente-section.documentos-section
      .asistente-wrap
        .label-search Buscar Documento
        %table#documentos_table
          %thead
            %tr
              %th Titulo
          %tbody
            - @documentos.each do |documento|
              %tr
                %td
                  .documento-info
                    = link_to "", documento.archivo.url(:original, true), class: "icon icon-download", target: "_blank"
                    .asistente-content
                      .info-doc
                        %h2= truncate(documento.titulo, length: 50)
                        %small= documento.user.email
                      %span= truncate(documento.descripcion, length: 200)
