- if flash[:alert]
  = flash[:alert]
.sign-in-subscriber.login-bg-color
  .sign-in-subscriber-wrap
    %img(src="/assets/login.jpg" width="100%")
    %h2 Bienvenido a la Dirección de Transferencia e Innovación !
    %small Ingrese su informacion para iniciar sesión.
    .fields-content
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email, required: false,label: false, placeholder: "Correo Electrónico"  , autofocus: true
          = f.input :password, required: false,label:  false, placeholder: "Contraseña"
          -# = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .form-actions
          = f.button :submit, "Iniciar Sesión", id:"login-btn"
      -# = render "subscribers/shared/links"
      .social-modal
        %i
          %a.icon.icon-facebook{:href => "https://www.facebook.com/Direcci%C3%B3n-de-Transferencia-e-Innovaci%C3%B3n-Unheval-881641215272116/", :target => "_blank"}
        %i
          %a.icon.icon-twitter{:href => "https://twitter.com/DTI_Unheval", :target => "_blank"}
        %i
          %a.icon.icon-youtubee{:href => "https://www.youtube.com/channel/UCBbNSHmCDwwRkgty0H3wZcg", :target => "_blank"}
      -# .info-modal Ingresa para que puedas incribirte en nuestro evento y mas.
